@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.navbar 
{
    color: green; 
    font-weight: arial; 
    font-size: 1.3rem; 
    background-color: blanchedalmond;
    
}
.nav-link{
  color: green;
}

.icone-navbar{
  font-size: 15pt;
}
.btn-outline-light
{
width: 90pt;
height: 40pt;
}
.main
{
    background-color: black ;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); 
}
.dropdown-menu{
background-color: white;
color: black;
}

.carousel-caption {
  color: white;
}

.cards-container {
  display: flex; 
  gap: 20px; 
  justify-content: center; 
  padding: 20px; 
}


.card {
  width: 300px; 
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: left; 
  background-color: green; 
}


.card-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
}


.card-content {
  padding: 15px; 
  background-color: green; 
}


.card-content h3 {
  margin: 0; 
  font-size: 1.5rem; 
  font-weight: bold; 
}


.card-content p {
  margin: 5px 0 0; 
  font-size: 1rem; 
  color: #333; 
}
.cor{
  color: grey;
}
.fonte{
  font-style: oblique;
}